# Left merge Excel docs #

Set document paths and read files

In [1]:
path_left = './../resources/data_ignored/report.merged-sanne-binge_1705-out.xlsx'
path_right = './../resources/data_ignored/Congitions_Verena.xlsx'
path_output = './../resources/data_ignored/report.merged-sanne-binge_1705-out-congnitions.xlsx'

import pandas as pd
from IPython.core.display import display

left = pd.read_excel(path_left, header=0)
right = pd.read_excel(path_right, header=0)
print(left.columns)
print(right.columns)
display(left)
display(right)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'instance_key_x',
       'subject_id_x', 'respondent_id_x', 'timestamp_x', 'global_date_x',
       'has_data_x', 'survey_id_x',
       ...
       'POST_EMO_DISGUST_1', 'POST_EMO_LONELY_1', 'POST_EMO_GUILTY_1',
       'POST_EMO_ASHAMED_1', 'POST_END_LOG_MESSAGE', 'objective_binge',
       'loc_verify', 'no_loc_no_sub_binge_verify', 'no_binge',
       'ClassificationEDEQ'],
      dtype='object', length=160)
Index(['Unnamed: 0', 'instance_key_x', 'PRE_COGN', 'Categorie_L',
       'Categorie_S', 'SL Concensus', 'DISFUNCTIONAL L', 'DISFUNCTIONAL S',
       'NO CONSENUS DISFUNCT', 'Categorie_Verena', 'Categorie_Sanne',
       'Categorie_Lotte', 'Consensus'],
      dtype='object')

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,instance_key_x,subject_id_x,respondent_id_x,timestamp_x,global_date_x,has_data_x,survey_id_x,...,POST_EMO_DISGUST_1,POST_EMO_LONELY_1,POST_EMO_GUILTY_1,POST_EMO_ASHAMED_1,POST_END_LOG_MESSAGE,objective_binge,loc_verify,no_loc_no_sub_binge_verify,no_binge,ClassificationEDEQ
0,18,2213,2213,18238_1581957397,18238,18238,1581957397,2020-02-17 16:36:37,True,3559000,...,8.0,NaN,7.0,7.0,1.0,True,True,IGNORE_POST_LOC_TRUE,False,0
1,57,1608,1608,18639_1584216367,18639,18639,1584216367,2020-03-14 20:06:07,True,3559000,...,NaN,2.0,NaN,NaN,1.0,True,True,IGNORE_POST_LOC_TRUE,False,0
2,58,1604,1604,18639_1584373061,18639,18639,1584373061,2020-03-16 15:37:41,True,3559000,...,NaN,NaN,NaN,NaN,1.0,True,True,IGNORE_POST_LOC_TRUE,False,0
3,59,1601,1601,18639_1584461464,18639,18639,1584461464,2020-03-17 16:11:04,True,3559000,...,NaN,NaN,4.0,NaN,1.0,True,True,IGNORE_POST_LOC_TRUE,False,0
4,61,1631,1631,18579_1584733593,18579,18579,1584733593,2020-03-20 19:46:33,True,3559000,...,9.0,11.0,9.0,10.0,1.0,True,True,IGNORE_POST_LOC_TRUE,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,1623,952,952,18965_1588170139,18965,18965,1588170139,2020-04-29 14:22:19,True,3559000,...,NaN,NaN,NaN,NaN,1.0,IGNORE_POST_LOC_FALSE,IGNORE_POST_LOC_FALSE,False,True,2
1526,1630,739,739,19039_1588179154,19039,19039,1588179154,2020-04-29 16:52:34,True,3559000,...,NaN,NaN,NaN,11.0,1.0,IGNORE_POST_LOC_FALSE,IGNORE_POST_LOC_FALSE,False,True,2
1527,1634,736,736,19039_1588231165,19039,19039,1588231165,2020-04-30 07:19:25,True,3559000,...,NaN,NaN,NaN,NaN,1.0,IGNORE_POST_LOC_FALSE,IGNORE_POST_LOC_FALSE,False,True,2
1528,1643,735,735,19039_1588246899,19039,19039,1588246899,2020-04-30 11:41:39,True,3559000,...,11.0,NaN,NaN,NaN,1.0,IGNORE_POST_LOC_FALSE,IGNORE_POST_LOC_FALSE,False,True,2
1529,1652,734,734,19039_1588263439,19039,19039,1588263439,2020-04-30 16:17:19,True,3559000,...,11.0,NaN,NaN,11.0,1.0,IGNORE_POST_LOC_FALSE,IGNORE_POST_LOC_FALSE,NO_PORTION,True,2

,Unnamed: 0,instance_key_x,PRE_COGN,Categorie_L,Categorie_S,SL Concensus,DISFUNCTIONAL L,DISFUNCTIONAL S,NO CONSENUS DISFUNCT,Categorie_Verena,Categorie_Sanne,Categorie_Lotte,Consensus
0,267.0,19038_1588004142,Ik heb de hele dag gevochten tegen de neiging ...,Controleverlies,Toegeeflijke gedachten,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,498.0,18926_1586572943,Eten is een manier om kalm te worden en terug ...,Toegeeflijke gedachten,Positieve gedachten: emotieregulatie door eten,0.0,1.0,1.0,1.0,Positieve gedachten,Positieve gedachten: emotieregulatie door eten,Positieve gedachten: emotieregulatie door eten...,positieve gedachten
2,752.0,18726_1586624120,Ik moet dit niet doen. Maar het lijkt me zo le...,Toegeeflijke gedachten,Toegeeflijke gedachten,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
3,1714.0,18228_1581932419,"'Pauze, even iets kleins eten voordat ik weer ...",Energie nodig,Energie nodig,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,404.0,19034_1587146626,"'Ik heb zin in chocola, ik heb dit gekocht en ...",Controleverlies,Toegeeflijke gedachten,0.0,1.0,1.0,1.0,Controleverlies,Controleverlies,Controleverlies,Controleverlies
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Set merge column for left and right file

In [2]:
left_column = 'instance_key_x'
right_column = 'instance_key_x'

Merge

In [3]:
merged = pd.merge(left, right, how='left', left_on=[left_column], right_on=[right_column])
display(merged)

merged.to_excel(path_output)

,Unnamed: 0_x,Unnamed: 0.1,Unnamed: 0.1.1,instance_key_x,subject_id_x,respondent_id_x,timestamp_x,global_date_x,has_data_x,survey_id_x,...,Categorie_L,Categorie_S,SL Concensus,DISFUNCTIONAL L,DISFUNCTIONAL S,NO CONSENUS DISFUNCT,Categorie_Verena,Categorie_Sanne,Categorie_Lotte,Consensus
0,18,2213,2213,18238_1581957397,18238,18238,1581957397,2020-02-17 16:36:37,True,3559000,...,Controleverlies,Gezonde intentie,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
1,57,1608,1608,18639_1584216367,18639,18639,1584216367,2020-03-14 20:06:07,True,3559000,...,Toegeeflijke gedachten,Zin/smaak,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
2,58,1604,1604,18639_1584373061,18639,18639,1584373061,2020-03-16 15:37:41,True,3559000,...,Controleverlies,Honger,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
3,59,1601,1601,18639_1584461464,18639,18639,1584461464,2020-03-17 16:11:04,True,3559000,...,Gezonde intentie,Honger,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,61,1631,1631,18579_1584733593,18579,18579,1584733593,2020-03-20 19:46:33,True,3559000,...,Controleverlies,Controleverlies,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,1623,952,952,18965_1588170139,18965,18965,1588170139,2020-04-29 14:22:19,True,3559000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526,1630,739,739,19039_1588179154,19039,19039,1588179154,2020-04-29 16:52:34,True,3559000,...,Negatieve gevolgen van het eten,Controleverlies,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1527,1634,736,736,19039_1588231165,19039,19039,1588231165,2020-04-30 07:19:25,True,3559000,...,Geen/niet eet-gerelateerd,Geen/niet eet-gerelateerd,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1528,1643,735,735,19039_1588246899,19039,19039,1588246899,2020-04-30 11:41:39,True,3559000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,1652,734,734,19039_1588263439,19039,19039,1588263439,2020-04-30 16:17:19,True,3559000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN